
body {
    font-family: sans-serif;
}

body.dialog-active {
    overflow: hidden;
}

body.dialog-active:after {
    content: '';
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, .8);
    z-index: 2;
    top: 0;
    left: 0;
}

.search {
    margin: 0 auto;
    max-width: 80%;
}

label {
    display: block;
    width: 100%;
}

.search__box {
    border: 1px solid #333;
    padding: 10px 10px 10px 20px;
    height: 35px;
    display: flex;
    border-radius: 5px;
}

.search__box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
}

.search__btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 0;
    background: white;
    height: 100%;
    width: 45px;
}

.search__btn i {
    font-size: 24px;
}


.result-list {
    margin: 20px 0 0;
    padding: 0;
    list-style: none;
}

.result {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #888;
}

.result__inner {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.result__img {
    display: block;
    width: 100px;
}

.result__name {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
}

a {
    color: green;
    text-decoration: none;
    transition: color .20s ease;
}

a:hover {
    color: red;
}

.result__send-query {

}