
body {
    font-family: sans-serif;
}

body.dialog-active {
    overflow: hidden;
}

body.show-message:after,
body.dialog-active:after {
    content: '';
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, .8);
    z-index: 2;
    top: 0;
    left: 0;
}

.search {
    margin: 0 auto;
    max-width: 80%;
}

label {
    display: block;
    width: 100%;
}

.search__box {
    height: 45px;
    display: flex;
    align-items: center;
}

.search__box input {
    height: 100%;
    width: 100%;
}

textarea,
input {
    border: none;
    outline: none;
    font-size: 20px;
    padding: 10px 10px 10px 20px;
    border: 1px solid #333;
    border-radius: 5px;
}

.search__btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 0;
    background: white;
    height: calc(100% - 2px);
    width: 45px;
    margin-left: -50px;
}

.search__btn i {
    font-size: 24px;
}


.result-list {
    margin: 20px 0 0;
    padding: 0;
    list-style: none;
}

.result {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #888;
}

.result__inner {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.result__img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.result__name {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
}

button,
a {
    color: green;
    text-decoration: none;
    transition: color .20s ease;
    cursor: pointer;
}

button:hover,
a:hover {
    color: red;
}

.dialog-send-query {
    display: none;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #fff;
    padding: 50px;
    box-shadow: 1px 3px 9px 0px black;
}

.dialog-active .dialog-send-query {
    display: flex;
    z-index: 3;
}

.dialog-close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 25px;
}

.info-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    z-index: 3;
    display: none;
    padding: 20px;
    transition: transform 1.35s ease .25s;
    opacity: 0;
    transform: translate(-50%, -60%);
}

.show-message .info-msg {
    display: block;
    opacity: 1;
    transform: translate(-50%, -50%);
    box-shadow: 1px 3px 9px 0px black
}